﻿@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="http://www.google.com/jsapi"></script>  
<script type="text/javascript">
    google.load("jquery", "1.3");
</script>  

<!--Load 3rd party plupload scripts-->  
<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>  
<!--Load plupload and all its runtime scripts-->  
<script src="@Url.Content("~/Scripts/plupload/plupload.full.js")" type="text/javascript"></script>  
  
<script type="text/javascript">  
  
    $(document).ready(function () {  
        var uploader = new plupload.Uploader({  
            //runtimes: 'gears,html5,flash,silverlight,browserplus',
            runtimes: 'silverlight,html5,browserplus', //flash does not handle large files well. html5 causes the whole file to be stored in memory on Mac OS X
            //runtimes: 'flash, silverlight,html5,browserplus',
            //multipart: false,
            chunk_size: '5mb',
            urlstream_upload: true, //for Flash. not sure why.
            browse_button: 'pickfiles',  
            container: 'container',  
            max_file_size: '2048mb',  
            url: '@Url.Action("upload", "home")',  
            flash_swf_url: '/Scripts/plupload/plupload.flash.swf',
            silverlight_xap_url: '/Scripts/plupload/plupload.silverlight.xap',  
            filters : [  
                /*{title : "Image files", extensions : "jpg,gif,png"},  
                {title : "Zip files", extensions : "zip"}  */
            ]  
        });  
  
        uploader.bind('Init', function (up, params) {  
            $('#filelist').html("<div>Current runtime: " + params.runtime + "</div>");  
        });  
  
        $('#uploadfiles').click(function (e) {  
            uploader.start();  
            e.preventDefault();  
        });  
  
        uploader.init();  
  
        uploader.bind('FilesAdded', function (up, files) {  
            $.each(files, function (i, file) {  
                $('#filelist').append('<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' + '</div>');  
            });
            
            up.refresh(); // Reposition Flash/Silverlight  
        });  
  
        uploader.bind('UploadProgress', function (up, file) {  
            $('#' + file.id + " b").html(file.percent + "%");  
        });  
  
        uploader.bind('Error', function (up, err) {  
            $('#filelist').append("<div>Error: " + err.code + ", Message: " + err.message + (err.file ? ", File: " + err.file.name : "") + "</div>");  
  
            up.refresh(); // Reposition Flash/Silverlight  
        });  
  
        uploader.bind('FileUploaded', function (up, file) {  
            $('#' + file.id + " b").html("100%");  
        });  
    });  
  
</script>  

<h2>Upload</h2>
<div id="container">  
    <div id="filelist">No runtime found.</div>  
      
  
    <a id="pickfiles" href="#">[Select files]</a>  
    <a id="uploadfiles" href="#">[Upload files]</a>  
</div>  